*.egg-info
*.pyc
build
dist
scratch
.vscode
XDG_CACHE_HOME
*.pyi
.pytest_cache
.idea
*.torch
*.ipynb
__pycache__
*.tfevents.*
examples/MNIST
examples/raw
examples/processed
examples/flowers
examples/cifar-10-batches-py
examples/off-energy
off-energy
*.tar.gz
awr-test*
docs
examples/*
*.torch.old